<h1> Meet your wallet! <h1>

  <div class="balance">
    <p>Your balance is: <%= number_to_currency(@balance) %> </p>
  </div>

  <div class="total_transactions">
    <p>Your total transactions are: <%= @count_processes %> </p>
  </div>

  <div class="total_this_month">
    <p>Your total amount spent this month is: <%= @spent_this_month %> </p>
  </div>

  <div class="total_this_month">
    <p>Your total amount spent this month is: <%= @spent_this_month %> </p>
  </div>

  <div class="total_this_month">
    <p>Your total amount spent last month is: <%= @spent_last_month %> </p>
  </div>

  <div class="total_this_month">
    <p>Your total transactions this month is: <%= @processes_this_month %> </p>
  </div>

  <div class="total_this_month">
    <p>Your total transactions last month: <%= @processes_last_month %> </p>
  </div>

  <div class="total_this_month">
    <p>Your biggest expense was: <%= @biggest_expense %> </p>
  </div>

  <div class="total_this_month">
    <p>Your biggest expense this month is: <%= @biggest_expense_this_month %> </p>
  </div>

<p>  <%= link_to 'New Transaction', new_transaction_path %></p>
<p>  <%= link_to 'Transactions', transactions_path %></p>


 
